apiVersion: v1
kind: Service
metadata:
  name: svc-floaty-backend
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: management
      port: 8081
      targetPort: 8081
  selector:
    app: floaty-backend